.item-detail-container {
  padding: 10px 15px;
  border: 1px solid #eee;
}

.item-detail-header {
  margin: 10px 0;
}

.item-detail-title {
  font-weight: 500;
}

.item-detail-content {
  font-size: 0.9rem;
}
