.comment-container {
  padding: 10px 15px;
  margin: 10px 16px;
  border: 1px solid #eee;
}
.comment-header {
  margin: 10px 0;
}
.comment-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}
