.sidenav-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.sidenav-content {
  padding: 15px;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
