<div class="pagination mat-elevation-z2" *ngIf="showPagination">
  <button mat-button color="primary" (click)="prevPage()" [disabled]="page == 1">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <div>{{ page }} of {{ totalPages }}</div>
  <button mat-button color="primary" (click)="nextPage()" [disabled]="page == totalPages">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
<ng-container *ngIf="!isFetching; else loading">
  <div class="feed-container mat-elevation-z2">
    <div class="feed-item-container" *ngFor="let item of feed; let i = index;">
      <app-story-item [index]="(page - 1) * pageSize + i + 1" [id]="item.id" [title]="item.title" [url]="item.url"
        [score]="item.score" [by]="item.by" [time]="item.time" [commentsCount]="item.kids ? item.kids.length : 0"></app-story-item>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
