.pagination {
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: left;
}

.feed-container {
  margin: 10px 0;
  border: 1px solid #eee;
}

.feed-item-container {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
