$border-color: #eee;

.page {
  margin: 15px 0;
}

.feed-item {
  padding: 0.5rem 0;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.feed-item.last {
  border-bottom: 1px solid $border-color;
}

.pagination {
  background-color: #eee;
  border: 1px solid $border-color;
  border-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
