<div class="feed-item">
  <div class="feed-item-index">
    <div>{{ index }}</div>
    <div><small>{{ score }} P</small></div>
  </div>
  <div>
    <span *ngIf="url">
      <a [href]="url" target="_blank" rel="noopener" class="feed-item-title">{{ title }}</a>
      <small> ({{ url | domain }})</small>
    </span>
    <span *ngIf="!url">
      <a [routerLink]="['/stories/item', id]" class="feed-item-title">{{ title }}</a>
    </span>
    <div>
      <span>by <a [routerLink]="['/stories/user', by]">{{ by }}</a></span>
      <span> | </span>
      <span>{{ time * 1000 | timeAgo }}</span>
      <span> | </span>
      <span>
        <a [routerLink]="['/stories/item', id]">{{ commentsCount }} comments</a>
      </span>
    </div>
  </div>
</div>
