.feed-item {
  display: flex;
}

.feed-item-index {
  width: 60px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-item-title {
  font-weight: 500;
}

.font-item-author {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
